zig-cache/
zig-global-cache/
zig-ci-tmp/
zig-arm-cache
zig-out/
buildrunner.zig
.DS_Store
imgui.ini
recents.json
.claude/
.config/
.temp/
web/app/
*.code-workspace
zig-pkg/
.velopack-msvc/
.msvc-extra
*.log
*.lock
tools/msvcup-bin/
tools/msvc-libc*.ini
.zig-cache/
.env.local
